[defaults]
forks = 1
gathering = explicit
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
strategy = linear

[ssh_connection]
pipelining = True
retries = 1
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
